{% load comments %}
<p>
  <a href="{% url 'img_generate:index' %}">Planet generator</a> -
  <a href="{% url 'publications:publications' %}">People's planets</a> -
  {% if user.is_authenticated %}
    Hello, {{ user.username }} -
    <a href="{% url 'users:portfolio' %}">My portfolio</a> -
    <a href="{% url 'img_generate:new_planet' %}">New planet</a> -
    <a href="{% url 'users:logout' %}">Log out</a>
  {% else %}
    <a href="{% url 'users:login' %}">Log in</a> -
    <a href="{% url 'users:register' %}">Register</a>
  {% endif %}
  </p>
<p>Generate images of planets using AI based on your input!</p>

{% block content %}{% endblock content %}