{% extends "image_generator/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}
  <h2>Generate new picture of planet</h2>
{% endblock page_header %}

{% block content %}

  <form action="{% url 'img_generate:new_planet' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form exclude="planet_type,resolution" %}
    {% bootstrap_label "Type of planet" label_for="{{ form.planet_type.id_for_label }}" %}
    {{ form.planet_type }}<br><br>
    {% bootstrap_label "Image resolution" label_for="{{ form.resolution.id_for_label }}" %}
    {{ form.resolution }}<br><br>
    {% bootstrap_button "Generate" button_class="btn-success" size="lg" %}
  </form>

{% endblock content %}