{% extends "image_generator/base.html" %}
{% load comments %}

{% block content %}

  <p>My new planet: {{ publication.planet.name }}</p>
  <p>Description: {{ publication.pub_text|default:"No descritpion provided" }}</p>
  <ul>
    <li>Mass: {{ publication.planet.mass|floatformat }}x10^24 kg</li>
    <li>Radius: {{ publication.planet.radius|floatformat }} km</li>
    <li>Bulk density: {{ publication.planet.bulk_density|floatformat }} g*cm^(-3)</li>
    <li>Albedo: {{ publication.planet.albedo|floatformat }}</li>
    <li>Gravity: {{ publication.planet.gravity|floatformat }} m*s^(-2)</li>
    <li>Temperature: {{ publication.planet.temperature|floatformat }} K</li>
    <li>Has atmosphere: {{ publication.planet.atmosphere|yesno|title }}</li>
    <li><img src="{{ publication.planet.image.url }}" alt="Oops"></li>
  </ul>

  {% get_comment_form for publication as form %}
  <form action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    <p>Name: {{ form.name }}</p>
    <p>Email: {{ form.email }}</p>
    <p>Comment: {{ form.comment }}</p>
    <div hidden>
      {{ form.honeypot }}
      {{ form.content_type }}
      {{ form.object_pk }}
      {{ form.timestamp }}
      {{ form.security_hash }}
    </div>
    <input type="hidden" name="next"
           value="{% url 'publications:publication' publication.planet.id %}" />
    <input type="submit" value="Add comment" id="id_submit" />
  </form>

  {% get_comment_count for publication as comment_count %}
  <p>There are {{ comment_count }} comment{{ comment_count|pluralize }}</p>
  {% render_comment_list for publication %}

{% endblock content %}