{% extends "image_generator/base.html" %}

{% block content %}

  <p>{{ user.username }}'s portfolio:</p>

  {% for planet in planets %}
    <p>{{ planet.name }}</p>
    <ul>
      <li>Mass: {{ planet.mass|floatformat }}x10^24 kg</li>
      <li>Radius: {{ planet.radius|floatformat }} km</li>
      <li>Bulk density: {{ planet.bulk_density|floatformat }} g*cm^(-3)</li>
      <li>Albedo: {{ planet.albedo|floatformat }}</li>
      <li>Gravity: {{ planet.gravity|floatformat }} m*s^(-2)</li>
      <li>Temperature: {{ planet.temperature|floatformat }} K</li>
      <li>Has atmosphere: {{ planet.atmosphere|yesno|title }}</li>
      <li><img src="{{ planet.image.url }}" alt="Oops"></li>
      {% if planet.publication %}
        <li>
            <a href="{% url 'publications:publication' planet.id %}">View publication</a>
        </li>
      {% else %}
        <li>
            <a href="{% url 'publications:publish' planet.id %}">Create publication</a>
        </li>
      {% endif %}
    </ul>
  {% empty %}
    <p>You have no planets in your portfolio yet.</p>
  {% endfor %}

{% endblock content %}